<div class="p-3">
  <h5>Binance bot</h5>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      General Setup
      <div class="input-group input-group-sm w-50">
        <label class="input-group-text"
               for="inputGroupSelect01">Coin Pair</label>
        <select class="form-select"
                id="inputGroupSelect01">
          <option selected>Choose Coin Pair...</option>
          <option value="soleur">SOL/EUR</option>
          <option value="btcusd">BTC/EUR</option>
          <option value="etheur">ETH/EUR</option>
        </select>
      </div>

      <div class="input-group input-group-sm w-50">
        <label class="input-group-text"
               for="inPriceRefreshRate">Refresh Rate</label>
        <select [(ngModel)]="period"
                class="form-select"
                id="inPriceRefreshRate">
          <option *ngFor="let period of periods"
                  selected>{{period}}</option>
        </select>
      </div>

      <div class="input-group input-group-sm w-50">
        <span class="input-group-text">Budget Start</span>
        <input type="number"
               class="form-control"
               id="inBudgetStart"
               [(ngModel)]="budgetStart"
               min="0"
               max="100000"
               step="0.01">
        <span class="input-group-text"> EUR</span>
      </div>

      <div class="input-group input-group-sm w-50">
        <span class="input-group-text">Min Budget</span>
        <input type="number"
               class="form-control"
               id="inBudgetMin"
               [(ngModel)]="budgetMin"
               min="0"
               max="100000"
               step="0.01">
        <span class="input-group-text"> EUR</span>
      </div>

      <div class="input-group input-group-sm w-50">
        <span class="input-group-text">Fee</span>
        <input type="number"
               class="form-control"
               id="inFee"
               [(ngModel)]="fee"
               min="0"
               max="100"
               step="0.001">
        <span class="input-group-text"> %</span>
      </div>
      <!-- <div class="col-10">
        <label class="form-label">Fee {{fee}}</label>
        <input type="number"
               step=".1"
               class="form-control"
               [(ngModel)]="fee"
               placeholder=""
               disabled>
      </div> -->

      <div class="input-group input-group-sm w-50">
        <span class="input-group-text">Inst. Buy Amount</span>
        <input type="number"
               class="form-control"
               id="inBuy_InstAmountPct"
               [(ngModel)]="buy_InstAmountPct"
               min="0"
               max="100"
               step="0.01">
        <span class="input-group-text"> %</span>
      </div>

      <div class="input-group input-group-sm w-50">
        <span class="input-group-text">Inst. Sell Amount</span>
        <input type="number"
               class="form-control"
               id="inSell_InstAmountPct"
               [(ngModel)]="sell_InstAmountPct"
               min="0"
               max="100"
               step="0.01">
        <span class="input-group-text"> %</span>
      </div>

      <div class="input-group input-group-sm w-50">
        <label class="input-group-text"
               for="inBuyAtBottom">Buy At Bottom</label>
        <select [(ngModel)]="buyAtBottom"
                class="form-select"
                id="inBuyAtBottom">
          <option *ngFor="let buyAtBottom of yesno"
                  selected>{{buyAtBottom}}</option>
        </select>
      </div>

      <div class="input-group input-group-sm w-50">
        <label class="input-group-text"
               for="inSellAtPeak">Sell At Peak</label>
        <select [(ngModel)]="sellAtPeak"
                class="form-select"
                id="inSellAtPeak">
          <option *ngFor="let sellAtPeak of yesno"
                  selected>{{sellAtPeak}}</option>
        </select>
      </div>

      <div class="input-group input-group-sm w-50">
        <span class="input-group-text">Wait Before Buy</span>
        <input type="number"
               class="form-control"
               id="inWaitBeforeBuy"
               [(ngModel)]="waitBeforeBuy"
               min="0"
               max="10000"
               step="1">
        <span class="input-group-text"> rounds</span>
      </div>










      <div class="col-10">
        <label class="form-label">Sell Minimum Gain (%)</label>
        <input type="number"
               step=".1"
               class="form-control"
               [(ngModel)]="sellMinGainPercentage"
               placeholder="">
      </div>


















    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>


</div>

















<div class="row p-3">
  <div class="col-2">
    <!-- General Setup -->






    <div class="col-10">
      <label for="inCoinPair"
             class="form-label">Coin Pair</label>
      <input class="form-control"
             id="inCoinPair"
             [(ngModel)]="symbol"
             placeholder="soleur , etheur, btcusd, etc">
    </div>



    <div class="col-10">
      <label class="form-label">Current Price(Euro)</label>
      <input type="number"
             class="form-control"
             [(ngModel)]="currentClosePrice"
             placeholder="">
    </div>

    <div class="col-10">
      <label class="form-label">Buy of % from account money</label>
      <input type="number"
             class="form-control"
             [(ngModel)]="buyPercent"
             placeholder="">
    </div>



    <div class="col-10">
      <label class="form-label">Sell Minimum Gain (%)</label>
      <input type="number"
             step=".1"
             class="form-control"
             [(ngModel)]="sellMinGainPercentage"
             placeholder="">
    </div>

    <div class="col-10">
      <label class="form-label">Buy Minimum Gain (%)</label>
      <input type="number"
             step=".1"
             class="form-control"
             [(ngModel)]="buyMinGainPercentage"
             placeholder="">
    </div>

    <div>
      <label for="symbol"
             class="form-label">Closing prices :</label>
      <ul class="list-group">
        <li class="list-group-item"
            [ngClass]="{'list-group-item-success' : closingPrince > closingPrices[i-1], 'list-group-item-danger' : closingPrince < closingPrices[i-1] }"
            *ngFor="let closingPrince of closingPrices; let i = index">
          <span class="material-symbols-outlined me-3">
            {{(closingPrince > closingPrices[i-1] ? 'trending_up' : closingPrince < closingPrices[i-1]
              ? 'trending_down'
              : 'trending_flat'
              )}}
              </span>
              {{closingPrince}}
        </li>
      </ul>
    </div>
  </div>

  <div class="col-6">
    <label class="form-label text-warning fw-bold">Money: {{accountLatest.walletMoney}} euros</label>
    <br>
    <label class="form-label text-success fw-bold">Coins({{symbol}}): {{accountLatest.walletCoins}}</label>

    <div>
      <button class="btn btn-primary mb-3 mt-3"
              (click)="startPriceService()">Start price update service</button>
      <button class="btn btn-danger ms-3 mb-3 mt-3"
              (click)="stopPriceService()">Stop price update service</button>
      <br>
      <button class="btn btn-success mb-3 mt-3"
              (click)="start()">Start trading</button>
      <button class="btn btn-danger ms-3 mb-3 mt-3"
              (click)="stop()">Stop trading</button>
      <button [disabled]="!this.currentClosePrice"
              class="btn btn-primary ms-3 mb-3 mt-3"
              (click)="buy()">Buy</button>
      <button [disabled]="!this.accountLatest.walletCoins"
              class="btn btn-warning ms-3 mb-3 mt-3"
              (click)="sell()">Sell</button>
      <button class="btn btn-primary mb-3 mt-3"
              (click)="updateCounter()">Update Counter {{buyCounter}}</button>

    </div>

    <!-- <app-candle-chart [data]="data"></app-candle-chart> -->
    <!-- <div>
      <label class="form-label">RSI Overbought (%)</label>
      <input type="number"
             class="form-control"
             [(ngModel)]="rsiOverbought"
             placeholder="">
    </div>

    <div>
      <label class="form-label">RSI Oversold (%)</label>
      <input type="number"
             class="form-control"
             [(ngModel)]="rsiOversold"
             placeholder="">
    </div>

    <div>
      <label class="form-label">RSI Period</label>
      <input type="number"
             step="1"
             class="form-control"
             [(ngModel)]="rsiPeriod"
             placeholder="">
    </div> -->


  </div>

  <div class="mt-3">
    <label for="symbol"
           class="form-label">Transactions :</label>
    <small>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Id</th>
            <th>Coin</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>ClosePrice</th>
            <th>TransactionPrice</th>
            <th>Date</th>
            <th>isActive</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{'table-success' : tr.type === transactionTypes.sell , 'table-warning' : tr.type === transactionTypes.buy && tr.isActive}"
              *ngFor="let tr of transactions">
            <td>{{tr.id}}</td>
            <td>{{tr.symbol}}</td>
            <td>{{tr.type}}</td>
            <td>{{tr.quantity}}</td>
            <td>{{tr.closedPrice}}</td>
            <td>{{tr.transactionPrice}}</td>
            <td>{{tr.timestamp}}</td>
            <td><span *ngIf="tr.isActive"
                    class="material-symbols-outlined">
                schedule
              </span></td>
          </tr>
        </tbody>
      </table>
    </small>
  </div>
</div>