<div class="p-3">
  <h5>Binance bot</h5>
</div>

<div class="row p-3">
  <div class="col-6">
    <div class="col-10">
      <label for="symbol"
             class="form-label">Symbol</label>
      <input class="form-control"
             id="symbol"
             [(ngModel)]="symbol"
             placeholder="soleur , etheur btcusd, etc">
    </div>

    <div class="col-10">
      <label for="period"
             class="form-label">Period</label>
      <select [(ngModel)]="period"
              class="form-select"
              id="period"
              aria-label="Default select example">
        <option *ngFor="let period of periods"
                selected>{{period}}</option>
      </select>
    </div>

    <div class="col-10">
      <label class="form-label">Current Price(Euro)</label>
      <input type="number"
             class="form-control"
             [(ngModel)]="currentClosePrice"
             placeholder="">
    </div>

    <div class="col-10">
      <label class="form-label">Buy of % from account money</label>
      <input type="number"
             class="form-control"
             [(ngModel)]="buyPercent"
             placeholder="">
    </div>

    <div class="col-10">
      <label class="form-label">Fee</label>
      <input type="number"
             step=".1"
             class="form-control"
             [(ngModel)]="fee"
             placeholder="">
    </div>

    <div class="col-10">
      <label class="form-label">Sell Minimum Gain (%)</label>
      <input type="number"
             step=".1"
             class="form-control"
             [(ngModel)]="sellMinGainPercentage"
             placeholder="">
    </div>

    <div class="col-10">
      <label class="form-label">Buy Minimum Gain (%)</label>
      <input type="number"
             step=".1"
             class="form-control"
             [(ngModel)]="buyMinGainPercentage"
             placeholder="">
    </div>

    <div>
      <label for="symbol"
             class="form-label">Closing prices :</label>
      <ul class="list-group">
        <li class="list-group-item"
            [ngClass]="{'list-group-item-success' : closingPrince > closingPrices[i-1], 'list-group-item-danger' : closingPrince < closingPrices[i-1] }"
            *ngFor="let closingPrince of closingPrices; let i = index">
          <span class="material-symbols-outlined me-3">
            {{(closingPrince > closingPrices[i-1] ? 'trending_up' : closingPrince < closingPrices[i-1]
              ? 'trending_down'
              : 'trending_flat'
              )}}
              </span>
              {{closingPrince}}
        </li>
      </ul>
    </div>
  </div>

  <div class="col-6">
    <label class="form-label text-warning fw-bold">Money: {{accountLatest.walletMoney}} euros</label>
    <br>
    <label class="form-label text-success fw-bold">Coins({{symbol}}): {{accountLatest.walletCoins}}</label>

    <div>
      <button class="btn btn-success mb-3 mt-3"
              (click)="startPriceService()">Start price update service</button>
      <button class="btn btn-danger ms-3 mb-3 mt-3"
              (click)="stopPriceService()">Stop price update service</button>
      <br>
      <button class="btn btn-success mb-3 mt-3"
              (click)="start()">Start trading</button>
      <button class="btn btn-danger ms-3 mb-3 mt-3"
              (click)="stop()">Stop trading</button>
      <button [disabled]="!this.currentClosePrice"
              class="btn btn-primary ms-3 mb-3 mt-3"
              (click)="buy()">Buy</button>
      <button [disabled]="!this.accountLatest.walletCoins"
              class="btn btn-warning ms-3 mb-3 mt-3"
              (click)="sell()">Sell</button>
    </div>

    <!-- <app-candle-chart [data]="data"></app-candle-chart> -->
    <!-- <div>
      <label class="form-label">RSI Overbought (%)</label>
      <input type="number"
             class="form-control"
             [(ngModel)]="rsiOverbought"
             placeholder="">
    </div>

    <div>
      <label class="form-label">RSI Oversold (%)</label>
      <input type="number"
             class="form-control"
             [(ngModel)]="rsiOversold"
             placeholder="">
    </div>

    <div>
      <label class="form-label">RSI Period</label>
      <input type="number"
             step="1"
             class="form-control"
             [(ngModel)]="rsiPeriod"
             placeholder="">
    </div> -->


  </div>

  <div class="mt-3">
    <label for="symbol"
           class="form-label">Transactions :</label>
    <small>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Id</th>
            <th>Coin</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>ClosePrice</th>
            <th>TransactionPrice</th>
            <th>Date</th>
            <th>isActive</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{'table-success' : tr.type === transactionTypes.sell , 'table-warning' : tr.type === transactionTypes.buy && tr.isActive}"
              *ngFor="let tr of transactions">
            <td>{{tr.id}}</td>
            <td>{{tr.symbol}}</td>
            <td>{{tr.type}}</td>
            <td>{{tr.quantity}}</td>
            <td>{{tr.closedPrice}}</td>
            <td>{{tr.transactionPrice}}</td>
            <td>{{tr.timestamp}}</td>
            <td><span *ngIf="tr.isActive"
                    class="material-symbols-outlined">
                schedule
              </span></td>
          </tr>
        </tbody>
      </table>
    </small>
  </div>
</div>